
#firstContainer{
    width: 100%;
    height: 500px;
    border: 0px solid black;
    display: flex;
}

.swiper{
    width: 100%;
    height: fit-content;
    display: block;
}

.swiper-slide>img{
    width: 100%;
    height: 500px;
    border-radius: 20px;

}

.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: black;
    size: 20px;
}

.swiper .swiper-pagination-bullet-active{
    background-color: #fff;
}

#threadBox{
    width: 300px;
    height: 498px;
    border: 0px solid black;
    margin-left: 3%;
    margin-right: 20px;
    margin-top: -15px;
    background-color: #F1F8E9;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#threadBox>p:hover{
    cursor: pointer;
    font-weight: bold;
}

#threadBox>p{
    margin-left: 80px;
    margin-right: 10px;
    font-family: "Gill Sans", sans-serif;
    color: rgb(73, 72, 72);
    line-height: 25px;
}

#mySearch{
    width: 100px;
    height: 50px;
    background-color: gray;
}